.button {
  background: #dbdbdb;
  border-radius: 17px;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #000000;
  padding: 9px 17px;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px;
  margin-bottom: 19px;
}
