.background {
  background: linear-gradient(to bottom left, #0e1b21 50%, #0b1519 50%);
  width: 100vw;
  height: 100vh;
}
.container {
  position: absolute;
  background: white;
  width: 340px;
  height: 250px;
  border-radius: 12px;
  padding: 32px 32px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.registration {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  text-align: center;
  text-decoration-line: underline;
  color: #778795;
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 130px;
}
